<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Todos Server</title>
</head>
<body>
    <h1>Todo API Server</h1>
</body>
</html>